/* For Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1; /* Always show */
  -webkit-appearance: inner-spin-button !important;
  margin: 0;
}

/* For Firefox */
input[type=number] {
  -moz-appearance: textfield;
}